<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
 <connectionStrings>
    <!--<add name="FleetConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Data Source=KICHIDI\SQLEXPRESS;Initial Catalog=BTS"/>-->
    <!--<add name="FleetConnectionString" connectionString="Data Source=LENOVO\ACIS1;Initial Catalog=BTS; uid=sa; pwd=ACIS1;"/>-->
    <add name="FleetConnectionString" connectionString="Data Source=BJ01\SQLEXPRESS;Initial Catalog=BTS; uid=user; pwd=Mk@5942;"/>
    <!--<add name="FleetConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Data Source=KICHIDI\SQLEXPRESS;Initial Catalog=BTS"/>-->

  </connectionStrings>
</configuration>